@import '../abstracts/variables';
@import '../abstracts/functions';
@import '../abstracts/mixins';
@import '../abstracts/placeholders';

$button-background: $color-orange;
$button-background--hover: $color-dark-orange;

.interactive {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: $font-europa;

  > * {
    margin: auto;
  }

  &__intro,
  &__graphic {
    max-width: calc(100vw - 48px);
  }

  &__graphic {
    width: 100%;
    min-width: 190px;
    padding: 24px;
    background-color: #e3eaec;
  }

  &__intro {
    > * {
      max-width: 700px;
      margin: auto;
    }

    .disorder-outbreak__header {
      padding-left: 12px;
      border-left: 6px solid #e3eaec;

      &-title {
        text-transform: uppercase;
      }

      &-subtitle {
        margin-bottom: 1.5rem;
      }
    }
  }
}

.disorder-outbreak__legends {
  display: flex;
  max-width: 700px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include breakpoint('medium') {
    flex-wrap: nowrap;
  }

  > * {
    display: flex;
    align-items: center;
  }

  svg {
    width: 100%;
  }

  .outbreak-legend {
    @include breakpoint('medium') {
      flex-basis: 35%;
    }

    .graphic {
      max-width: 120px;

      circle {
        stroke-width: 3;
        stroke: $color-orange;
        stroke-width: 3;
        stroke-miterlimit: 10;
        fill: transparent;
      }

      line {
        fill: none;
        stroke: $color-black;
        stroke-width: 3;
        stroke-miterlimit: 10;
        stroke-dasharray: 3, 3;
        fill: transparent;
      }

      text {
        font-size: 18px;
      }
    }
  }

  .fragility-legend {
    @include breakpoint('medium') {
      flex-basis: 60%;
    }

    .graphic {
      rect:nth-child(1) {
        fill: #d0dadf;
      }

      rect:nth-child(2) {
        fill: #afbfc9;
      }
      rect:nth-child(3) {
        fill: #758896;
      }

      rect:nth-child(4) {
        fill: #536875;
      }

      rect:nth-child(5) {
        fill: #304854;
      }

      text {
        font-size: 14px;
      }
    }
  }

  .label {
    @extend %filter-labels;
    white-space: nowrap;
  }
}

#play-controls {
  max-width: calc(100vw - 48px);
  background-color: #e3eaec;
}

/*=================================
=        Timeline Player          =
=================================*/
#play-controls {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding: 0 24px 24px;
  text-align: center;

  #play-pause-button {
    position: relative;
    top: -0.5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 30px;
    height: 30px;
    color: $color-white;
    font-size: 15px;
    text-align: center;
    background-color: $button-background;
    border: 0;
    border-radius: 3px;
    outline: none;
    cursor: pointer;

    &::before {
      margin-left: 2px;
    }

    &:hover {
      background-color: $button-background--hover;
      transition: all 0.3s ease-in-out;
    }

    &:focus {
      outline: $color-dust auto 5px;
    }
  }

  #range {
    position: relative;
    top: -10px;
    width: 100%;
    margin: 2.5% 1% 2.5% 2.5%;

    #play-range {
      position: relative;
      z-index: 99;
      width: 100%;
      height: 4px;
      margin: 7px 0;
      background-color: $color-black;
      border-radius: 2px;
      cursor: pointer;
      -webkit-appearance: none;
    }

    #ticks {
      position: absolute;
      left: 50%;
      top: 10px;
      display: flex;
      justify-content: space-between;
      width: 98.5%;
      height: 1rem;
      margin: auto;
      transform: translateX(-50%);

      @include breakpoint('medium') {
        top: 15px;
      }
    }

    .tick {
      cursor: pointer;

      &:not(:first-child) {
        border-left: 1px solid $color-black;
      }
    }

    #labels {
      position: absolute;
      top: 120%;
      left: 50%;
      display: flex;
      justify-content: space-between;
      width: 106%;
      height: 1.5rem;
      margin: auto;
      transform: translateX(-50%);

      .label {
        @extend %filter-labels;
        position: relative;
        top: -0.5rem;
        height: 1.5rem;
        transition: all 0.3s ease-in-out;

        &:not(:first-of-type),
        &:not(:last-of-type) {
          opacity: 0;

          @include breakpoint('medium') {
            opacity: 1;
          }
        }

        &.active,
        &:hover {
          color: $button-background--hover;
          font-weight: bold;
        }
      }
    }
  }
}

/*=================================
=              Map               =
=================================*/

table {
  margin: 0;
  border-collapse: collapse;

  thead {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
  }

  tfoot {
    td {
      color: $color-black;
    }
  }

  tr.section-fragility {
    color: $color-white;

    td {
      border-bottom: 6px solid $color-white;
    }
  }

  tr.section-outbreak {
    td {
      color: $color-white;
      background-color: $color-orange;
    }

    ~ tr td {
      color: $color-black;
      background-color: rgba(228, 85, 39, 0.5);
    }

    td,
    ~ tr td {
      border-bottom: 2px solid $color-white;

      &:not(:last-of-type) {
        border-right: 2px solid $color-white;
      }
    }
  }

  td {
    padding: 6px;
    font-size: 12px;
    white-space: nowrap;

    tbody & {
      width: 50%;
    }
  }
}

/*=================================
=      Highcharts Overrides       =
=================================*/
svg.highcharts-root {
  font-family: $font-europa !important;
}

.highcharts-point,
.highcharts-data-label tspan {
  cursor: pointer;
}

.highcharts-tooltip {
  visibility: hidden !important;

  @include breakpoint('medium') {
    visibility: visible !important;
  }
}

.highcharts-series-0 .highcharts-point {
  stroke-opacity: 0.2;
}

.highcharts-mapbubble-series .highcharts-point {
  fill-opacity: 0;
  stroke-width: 1.5px;
}

.highcharts-mapbubble-series .highcharts-point-hover {
  stroke-width: 3px;
  fill-opacity: 0.25;
}

.highcharts-label-box.highcharts-tooltip-box {
  fill: white;
  stroke: $color-black;
}

.highcharts-button-hover .highcharts-button-box {
  transition: all 0.3s ease-in-out;
  fill: $button-background--hover;
}

/*!
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3')
      format('embedded-opentype'),
    url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.woff?v=4.0.3')
      format('woff'),
    url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.ttf?v=4.0.3')
      format('truetype'),
    url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-play:before {
  content: '\f04b';
}
.fa-pause:before {
  content: '\f04c';
}
