.about-table-contents {
  & i {
    color: $color-dust;
    font-weight: bold;
    position: relative;
    top: 2px;
    left: -2px;
  }

  ul {
    li {
      list-style-type: none;
      line-height: 2;
      &:first-of-type {
        @extend %btn;
        text-transform: uppercase;
      }
      & i {
        @include font-size(20px);
      }
      &:nth-of-type(n + 2) a:hover {
        color: $color-dust;
      }
    }
    padding-inline-start: calculate-rem(24px);
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      width: 3px;
      height: 100%;
      background-color: $color-dusty-lavender;
    }
  }
}
