.author-photo-tint {
  filter: grayscale(100%);
  filter: url(#blue_tint);
  // filter: opacity(100%);
  $image-size-header-desktop: 110px;
  $image-size-header-mobile: 80px;
  $image-size-author-block: 80px;
  border-radius: 50%;
  padding: none;
  z-index: 999;

  .authors-block & {
    width: $image-size-author-block;
    height: $image-size-author-block;
  }

  .page-header__photo-desktop & {
    width: $image-size-header-desktop;
    height: $image-size-header-desktop;
    display: none;

    @include breakpoint('medium') {
      display: inline-block;
      margin: -3em 0em 0em 1.5em;
      background-color: $color-white;
    }
  }

  .page-header__photo-mobile & {
    width: $image-size-header-mobile;
    height: $image-size-header-mobile;
    display: inline;

    @include breakpoint('medium') {
      display: none;
    }
  }
}

.blue-tint {
    display: none;
}
