.btn {
  @extend %btn;
  text-transform: uppercase;
  background-color: $color-off-white;
  transition: all 0.3s ease-in-out;
  border: none;
  color: $color-black;
  cursor: pointer;
  padding: calculate-rem(6px) calculate-rem(14px) calculate-rem(7px)
    calculate-rem(12px);
  &:hover {
    background-color: $color-silver;
  }
}
