/*==============================================
=                 Content Type                 =
==============================================*/

.content-type {
  @extend %post-block-meta;
  margin: 0;
  padding: 0;

    &:hover {
      color: $color-dark-blue;
    }

    &__content {
      text-transform: uppercase;
    }
}
