.footnotes {
  padding-left: 2.5rem;
  margin-top: 5rem;
  position: relative;

  &:before {
    position: absolute;
    content: 'notes';
    @extend %section-title;
    text-transform: uppercase;
    top: -3rem;
    left: calc(2rem - 3px);
  }

  &:after {
    content: '';
    position: absolute;
    background-color: $color-silver;
    right: calc(100% - 2rem);
    top: 0;
    width: 2px;
    height: 100%;
  }

  a {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}
