.header-from-commission {
  // max-width: 380px; //grid-placed in parent component
  h3 {
    @extend %section-title;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0.5rem 0 0.4rem 0;
    i {
      color: $color-dust;
      margin-right: 9px;
      font-size: 1rem;
    }
  }
  p {
    @extend %body-text;
    margin: 0 0 0.6rem;
  }
}
