.modal {
  display: none;
  position: fixed;
  z-index: 11;
  background-color: $color-white;
  box-shadow: 0 2px 9px -1px rgba(0, 0, 0, 0.29);
  border-radius: 3px;
  padding: 0.5rem 0.5rem 1.5rem 1.5rem;
  left: 0;
  right: 0;
  top: 0;
  height: calc(100% - (1.5rem * 2));
  margin: 1.5rem;

  @include breakpoint('medium') {
    padding: 1.25rem 0.5rem 1.5rem 1.5rem;

    top: 10%;
    width: 62.5%;
    max-width: 900px;
    height: 600px;
    margin: auto;
  }

  .icon-icon_close {
    display: block;
    text-align: right;
    cursor: pointer;
    margin-bottom: -1rem;

    &:before {
      @include font-size(32px);
      margin: 0;
      color: $color-gray-brown;
    }

    @include breakpoint('medium') {
      margin: 0;
    }
  }

  .modal__container {
    height: calc(100% - 24px);
    overflow-y: auto;
    margin-right: 0.5rem;
    padding-right: 0.5rem;
  }
}
.modal-overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: calc(100vh + $size-page-highlights-height-desktop);
  width: calc(100vw + $size-page-highlights-height-desktop);
  background-color: $color-gray-brown;
  opacity: 0.38;
  display: none;
}
