.modal {
  $modal-height-desktop: 75vh;

  display: none;
  position: fixed;
  z-index: 20;
  background-color: $color-white;
  box-shadow: 0 2px 9px -1px rgba(0, 0, 0, 0.29);
  border-radius: 3px;
  padding: 0.5rem 1.5rem 3rem;
  left: 0;
  right: 0;
  top: 0;
  height: calc(100% - (1.5rem * 2));
  margin: 1.5rem;

  @include breakpoint('medium') {
    padding-bottom: 1.5rem;
    top: calc((100vh - #{$modal-height-desktop}) / 2);
    width: 62.5%;
    max-width: 900px;
    height: $modal-height-desktop;
    margin: auto;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5rem;
    background-color: $color-white;
  }

  .icon-icon_close {
    display: block;
    text-align: right;
    cursor: pointer;
    margin-bottom: -1rem;
    @include font-size(32px);
    color: $color-gray-brown;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $color-dust;
    }

    &:before {
      margin: 0;
    }

    @include breakpoint('medium') {
      margin: 0;
    }
  }

  .modal__container {
    height: calc(100% - 24px);
    overflow-y: auto;
    margin-right: 0.5rem;
    padding-right: 0.5rem;
  }
}
.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: calc(100vh + $size-page-highlights-height-desktop);
  width: calc(100vw + $size-page-highlights-height-desktop);
  background-color: $color-gray-brown;
  opacity: 0.38;
  display: none;
}
