/*===================================
=            Page Header            =
===================================*/

.page-header {
  @extend %full-width-content;
  display: flex;
  align-items: flex-end;
  min-height: 600px;
  padding: 3rem 0 1rem;
  background-color: $color-slate;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
      circle at 52% 39%,
      rgba($color-white, 0) 8%,
      rgba($color-dark-blue-gray, 0.73)
    );

    .archive & {
      background-image: radial-gradient(
        circle at 52% 43%,
        rgba($color-white, 0) 8%,
        rgba($color-dark-blue-gray, 0.73)
      );
    }
  }

  &__wrapper {
    @extend .wrapper;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 5;

    @include breakpoint('medium') {
      bottom: 20%;
      padding-right: calc(100% - #{$size-page-highlights-width});
    }
  }

  &__title {
    @extend %page-title;
    color: $color-white;
  }

  &__author-photo-desktop {
    display: none;

    @include breakpoint('medium') {
      display: inline-block;
      margin-top: calc(#{$size-author-image-header-desktop} / -2);
    }
  }

  &__author-photo-mobile {
    display: inline;

    @include breakpoint('medium') {
      display: none;
    }
  }
}
