.page-highlights {
  $ph: &;
  $cell-padding: 1rem;
  $cell-padding-sides: 2rem;

  position: relative;
  width: calc(100% + #{$size-wrapper-padding-mobile} * 2);
  left: -$size-wrapper-padding-mobile;
  padding: 0 $size-wrapper-padding-mobile;
  z-index: 5;
  display: flex;
  position: relative;
  background-color: $color-off-white;
  min-height: #{$size-page-highlights-height-mobile};
  margin-bottom: 2rem;

  @include breakpoint('large') {
    width: $size-page-highlights-width;
    top: -#{$size-page-highlights-height-desktop};
    right: 0;
    left: 0;
    padding: 0;
    min-height: #{$size-page-highlights-height-desktop};
    margin-bottom: 0;
  }

  &:before {
    content: '';
    position: absolute;
    background-color: $color-off-white;
    width: calc(
      (100vw - #{$size-page-highlights-width} + #{$size-wrapper-padding}) / 2
    );
    height: 100%;
    right: 99.9%;
    top: 0;
  }

  &:after {
    @include breakpoint('large') {
      content: '';
      position: absolute;
      box-shadow: 0 2px 8px 5px rgba(39, 39, 39, 0.16);
      top: 0;
      right: 0;
      height: 100%;
      width: calc(
        100% +
          (
            (100vw - #{$size-page-highlights-width} + #{$size-wrapper-padding}) /
              2
          )
      );
      z-index: -1;
    }
  }

  &.archive {
    display: none;

    @include breakpoint('large') {
      display: flex;
    }
  }

  &.posts,
  &.events {
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    background-color: $color-white;

    @include breakpoint('large') {
      position: relative;
      top: -#{$size-page-highlights-height-desktop};
      bottom: unset;
      width: $size-page-highlights-width;
      background-color: $color-off-white;
    }

    &::after {
      content: '';
      position: absolute;
      box-shadow: 0 2px 8px 5px rgba(39, 39, 39, 0.16);
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      @include breakpoint('large') {
        width: calc(
          100% +
            (
              (100vw - #{$size-page-highlights-width} + #{$size-wrapper-padding}) /
                2
            )
        );
      }
    }
  }

  .page-highlights__col {
    display: flex;
    align-items: flex-end;
    flex: 1 1 33%;
    padding: $cell-padding $cell-padding-sides;

    &:first-of-type {
      @include breakpoint('large') {
        padding-left: 0 !important; 
      }
    }

    &#{$ph}__col--last {
      background-color: $color-dust;
      flex-shrink: 0;
    }

    &#{$ph}__download {
      position: relative;

      &:after {
        position: absolute;
        background-color: $color-dusty-lavender;
        content: '';
        height: calc(100% - #{$cell-padding});
        width: 1px;
        left: 100%;
        top: 0;
      }
    }

    &#{$ph}__excerpt {
      flex-direction: column;
      align-items: flex-start;
      padding-left: 0;
      padding-right: 0;

      @include breakpoint('large') {
        padding-left: $cell-padding-sides;
        padding-right: $cell-padding-sides;
      }
    }

    .page__excerpt {
      @extend %page-description;
    }

    #{$ph}__photo-credit {
      .photo-caption-desc {
        @extend %photo-caption-desc;
      }

      .photo-caption-credit {
        @extend %photo-caption-credit;
      }
    }

    &#{$ph}__featured {
      display: none;

      @include breakpoint('large') {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-basis: 300px;
        max-width: 300px;
      }
    }
  }

  &.events .page-highlights__col--last {
    flex-basis: 33%;
    max-width: 33%;

    @include breakpoint('large') {
      flex-basis: 300px;
      max-width: 300px;
    }
  }
}
