.post-meta {
<<<<<<< HEAD
$p:&;

  &__author-list {
    @extend %post-block-meta;

    #{$p}__author {
      margin: 0;
      padding: 0;

      // .post-block__authors {

        .home__featured-secondary & {
          color: $color-black;
          &:hover {
            color: $color-slate
          }
        }

        .home__featured-primary & {
          color: $color-light-gray;
          text-transform: uppercase;
          &:hover {
            color: $color-slate
          }
        }
      // }
    }
=======

  &__authors {
    @extend %post-block-meta;
>>>>>>> displays authors, not styled
  }

  ul {
    @extend %post-block-meta;
    list-style-type: none;
    display: flex;

    li {
      @extend %post-block-meta;
      display: inline-block;
      margin-right: 0.5rem;
      padding: 0.25rem 0.4rem;
      text-align: center;
      text-transform: uppercase;
      transition: background-color 0.3s ease-in-out;
    }
  }


}
