/*==================================
=            Post Block            =
==================================*/

.post-block {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid $color-silver;

  &:first-of-type {
    padding-top: 0;
    border-top: 0;
  }

  .page-highlights & {
    margin: 0;
    padding: 0;
    border: 0;
  }

  &__header {
    margin-bottom: 1rem;
  }
  
  &__title {
    @extend %post-block-post-title;
    margin: 0.75rem 0;

    .archive & {
      @extend %archive-post-title;
    }

    a:hover {
      color: $color-dust;
    }

    .page-highlights & {
      @extend %post-block-post-title-featured;

      a {
        color: $color-white;

        &:hover {
          color: $color-slate;
        }
      }

    }
  }

  &__img {
    float: right;
    max-width: 40%;
    margin-left: 2rem;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__clear {
    @include clearfix-after();
  }

  &.post-block--featured {
    .post-block__title {
      @extend %post-block-post-title-featured;
    }
  }
}
