/*=======================================
=            Further Reading            =
=======================================*/

.post__further-reading {
  a[href^='http'] {
    visibility: hidden;
    position: relative;
    word-break: break-all;
    width: 20px;
    height: 20px;
    display: inline-block;
    overflow: hidden;

    &:hover {
      color: $color-dust;
    }

    &::after {
      content: '\ebb4';
      font-family: 'healthcom';
      visibility: visible;
      position: absolute;
      top: 0px;
      left: 0;
      word-break: normal;
      width: 20px;
      height: 20px;
    }
  }
}
