.post-meta {
  @extend %post-block-meta;
  $p: &;

  .home__featured-primary &, .page-header & {
    color: $color-light-gray;
    margin: 0.3em 0 0.3em 0;

    #{$p}__link {
      color: $color-light-gray;
      &:hover {
        color: $color-white;
      }
    }
  }

  .home__featured-secondary &,
  .home__recent-posts &,
  .home__event-series &,
  .archive--all-articles &, {
    color: $color-black;

    #{$p}__link {
      &:hover {
        color: $color-slate;
      }
    }
  }

  #{$p}__content-series-wrapper {
    .home__featured-primary &,
    .page-header & {
      border-bottom: 1px solid $color-dusty-lavender;

      @include breakpoint('large') {
         & { display: flex; }
      }
    }
  }

  &__content-type, &__author-name { text-transform: uppercase; }

  &__series::before {
    content: "TESTING";
    font-size: 1em;
    font-color: $color-off-white;
    @include breakpoint('large') { display: block; }
  }
}

.post-meta__date {
  text-transform: uppercase;
  @extend %post-block-meta;
}
