.post__related-posts {
  grid-column: 1 / -1;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  max-width: $size-wrapper-full-max-width;
  margin: 2rem auto 0;

  @include breakpoint(large) {
    flex-wrap: nowrap;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      width: calc((100vw - 100%) / 2);
      height: 100%;
    }
  }

  .final-report & {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  &:before {
    right: 99.9%;
    background-color: $color-dust;

    .final-report & {
      background-color: $color-off-white;
    }
  }

  &:after {
    left: 99.9%;
    background-color: $color-off-white;
  }

  .post-block {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
    box-sizing: content-box;

    &__content,
    .post-meta__series {
      display: none;
    }
    .post-meta__author-name {
      text-transform: initial;
    }

    &__header {
      margin-bottom: 0.5rem;
    }
  }

  .next-by-theme {
    background-color: $color-dust;
    padding: 1.5rem $size-wrapper-padding-mobile;
    flex-basis: 100%;

    @include breakpoint(large) {
      padding: 2rem 2rem 2rem $size-page-content-padding;
      flex-basis: 25%;
    }

    > *:not(h3),
    .post-block__title a,
    .post-block__title a:visited,
    .post-meta__date,
    .post-meta a,
    .post-meta a:visited,
    .themes-list a,
    .themes-list a:visited {
      color: $color-white;
    }

    .post-meta__date {
      color: $color-beige;
    }

    @include breakpoint(large) {
      .post-meta:not(.post-meta__date) {
        @include font-size(16px);
      }

      .post-title {
        @include font-size(24px);
      }
    }

    .themes-list {
      a {
        padding-left: 0;
        &:before {
          display: none;
        }
      }
    }
  }

  .related-by-tag {
    background-color: $color-off-white;
    padding: 1.5rem $size-wrapper-padding-mobile;
    flex-basis: 100%;

    @include breakpoint(large) {
      padding: 2rem $size-page-content-padding 2rem 4rem;
      flex-basis: 75%;

      .final-report & {
        flex-basis: 100%;
      }
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      @include breakpoint(large) {
        flex-wrap: nowrap;
      }

      .post-block {
        position: relative;
        flex-basis: 100%;
        padding: 0 0 3rem;

        @include breakpoint(large) {
          flex-basis: 50%;
          padding: 0 4rem 0 0;

          .final-report & {
            flex-basis: 33%;
          }
        }

        &:not(:only-child)::before {
          content: '';
          position: absolute;
          background-color: $color-dusty-lavender;
          top: -1.5rem;
          left: 0%;
          height: 1px;
          width: 100%;

          @include breakpoint(large) {
            top: 0;
            left: -2rem;
            width: 1px;
            height: 100%;
          }
        }

        &:first-of-type::before {
          display: none;
        }

        &:last-of-type {
          padding-bottom: 0;
        }

        .post-date {
          color: $color-warm-gray;
        }
      }
    }
  }
}
