/*==================================
=       Social Share Icons         =
==================================*/

.share {
<<<<<<< HEAD
    $s: &;
=======
  display: flex;
  margin: 0.2em 0;

  ul {
    list-style-type: none;
>>>>>>> imported sass
    display: flex;
    padding: .5rem;

<<<<<<< HEAD
    &__text {
        @extend %btn;
        text-transform: uppercase;
        padding-bottom:.2rem;
    }

    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;

        li {
            display: inherit;
            margin: 0;
            padding-right: 0.1rem;
            text-align: center;
            line-height: 1;
=======
      i {
        padding: 0.15rem;
      }
>>>>>>> imported sass

            i {
                font-size: 1.3rem;
            }
        }
    }

<<<<<<< HEAD
    .page-header & {

        #{$s}__text {
            color: $color-white;
        }

        i {
            color: $color-beige;

            &:hover {
                color: $color-white;
            }
        }
=======
    .post__header & i {
      background-color: $color-beige;

      .shareText {
        color: $color-dust;
      }

      &:hover {
        background-color: $color-white;
      }
    }

    .post__footer & i {
      background-color: $color-dust;

      .shareText {
        color: $color-dust;
      }

      &:hover {
        background-color: $color-dark-sand;
      }
>>>>>>> imported sass
    }

    .post__footer & {

        #{$s}__text {
            color: $color-black;
        }

        i {
            color: $color-dust;

            &:hover {
                color: $color-dark-sand;
            }
        }
    }

}
