.themes-list {
  display: flex;
  flex-flow: wrap;
  margin: auto 0;
  padding: 0;

  .home &,
  .post__header & {
    flex-direction: column;

    @include breakpoint('medium') {
      flex-direction: row;
    }
  }

  &__item {
    list-style-type: none;
    margin-right: 15px;

    a {
      display: inline-block;
      position: relative;
      @extend %post-block-meta-themes;
      text-transform: uppercase;
      padding-left: 1.5rem;

      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 5px;
        left: 0;
        height: 0.5rem;
        width: 1rem;
        transition: background 0.3s ease-in-out;

        @include breakpoint('medium') {
          top: 7px;
        }
      }
    }

    @each $name, $colors in $themes {
      $color: nth($colors, 1);
      $hover: nth($colors, 2);
      $color-lighten: lighten($color, 10%);
      $hover-lighten: lighten($color, 15%);
      &--#{$name} a {
        color: $color;

        &:before {
          background-color: $color;
        }
        &:hover {
          color: $hover;

          &:before {
            background-color: $hover;
          }
        }

        .home__featured-primary & {
          color: $color-lighten;

          &:before { background-color: $color-lighten; }
          &:hover {
            color: $hover-lighten;

            &:before { background-color: $hover-lighten; }
          }
        }
      }
    }
  }
}
