/*==============================================
=            Content Type Filtering            =
==============================================*/

.content-types-filter {

  ul {
    list-style: none;
    margin: 0 0 1rem 0;
    padding: 0;
  }
}
