{% assign authors_list = page.authors %}
{% if post.authors.size > 0%}
  {% assign authors_list = post.authors %}
{% endif %}
 <svg class="blue-tint">
  <filter id="blue_tint" color-interpolation-filters="sRGB"
          x="0" y="0" height="100%" width="100%">
    <feColorMatrix type="matrix"
      values="0.75 0 0 -0.1 0.05
              0.62 0 0 0 0.15
              0.50 0 0 0 0.30
              0    0 0 1 0" />
  </filter>
</svg>
{% for author in authors_list %}
{%- assign author_info = site.authors | where: "relative_path", author | first -%}
<div class="authors-block">
  <img class="authors-block__photo tint" src="{{ author_info.image }}">
  <div class="authors-block__info">
    <span class="authors-block__name"><a href="{{ author_info.url | relative_url }}" class="authors-block__name">{{author_info.title}}</a></span>
    <span class="authors-block__title">{{author_info.long_title}}</span>
    <p class="authors-block__bio">{{author_info.content}}</p>
  </div>
</div>
{% endfor %}
