<div class="cite-page">
  <button class="cite-page__label" aria-label="Cite this Page">
    <i class="icon-cite"></i>Cite this Page
  </button>
  <div class="cite-page__citation">
    <div class="cite-page__citation__header">Citation <i class="icon-icon_close"></i></div>

    <p class="cite-page__citation__text">
      {% for author in page.authors %}{% assign penultimate =  forloop.length | minus: 1 %}
      {% assign author_info = site.authors | where: "path", author | first %}
      {{ author_info.title }}{% unless forloop.last or forloop.length < 3 %}, {% endunless %}{% if forloop.index == penultimate %} and {% endif %}{% endfor %}.
      "{{ page.title }}." <em>{{ site.title }}</em>, Center for Strategic and International Studies, {{ page.date | date: '%B %d, %Y' }}. Accessed {{ site.time | date: '%B %d, %Y' }}.
      {{ site.baseurl | append:page.url }}
    </p>

    <button class="btn" data-clipboard-target=".cite-page__citation__text" aria-label="Copied!">Copy</button>
  </div>

</div>
