{%- if include.path.size > 0 -%}
<figure class="{{ include.classes | default: post__image }}">

{%- assign height=null -%}

{%- if include.height.size > 0 -%}
  {%- assign height = include.height | prepend: '--gallery-image-height:' | append: ';' -%}
{%- endif -%}

{%- if include.max_height.size > 0 -%}
  {%- assign height = include.max_height | prepend: 'max-height:' | append: ';' -%}
{%- endif -%}


{%- if include.path contains 'cloudinary' -%}
  {%- assign image_name = include.path | split: "/upload/" | last -%}
    <img
    sizes="(max-width: 320px) 320px,
          (max-width: 375px) 335px,
          (max-width: 480px) 440px,
          (max-width: 675px) 635px,
          800px"
    srcset="{{ site.cloudinary_url }}f_auto,q_70,w_320/{{ image_name }} 320w,
            {{ site.cloudinary_url }}f_auto,q_70,w_335/{{ image_name }} 335w,
            {{ site.cloudinary_url }}f_auto,q_70,w_480/{{ image_name }} 480w,
            {{ site.cloudinary_url }}f_auto,q_70,w_635/{{ image_name }} 635w,
            {{ site.cloudinary_url }}f_auto,w_800/{{ image_name }} 800w"
    src="{{ site.cloudinary_url }}f_auto,w_800/v2/health-commission/{{ image_name }}"
    data-src="{{ site.cloudinary_url }}f_auto,q_auto,w_auto/{{ image_name }}" 
    title="{{ include.title }}"
    alt="{{ include.title | strip_html }}"
    style="{{ height }}" />
{%- else -%}
  <img src="{{ include.path }}" title="{{ include.title | strip_html  }}" alt="{{ include.title | strip_html  }}" />
{%- endif -%}

{%- if include.title and include.figcaption != false -%}
  <figcaption class="img-caption">{{ include.title }} <span class="img-caption__source">{{ include.alt }}</span></figcaption>
{%- endif -%}
</figure>

{%- endif -%}
