
{% if site.data.content_types.size > 0 %}

  <h7 class="content-type">{{ post.content_type | capitalize }}</h7>

{% endif %}
{% if post.series %}
    {% assign content_type = post.content_type %}
    {% if post.content_type.size > 0 %}
      {% assign series_from_language = site.data.language.series.series-from-post-block %}
      {% else assign series_from_language = '' %}
    {% endif %}
    {% if post.series > 0%}
      {% assign series_info = site.series | where: "relative_path", series %}
      {% else assign series_info = '' %}
    {% endif %}
{% elsif page.collection == 'posts' %}
    {% assign content_type = page.content_type %}
    {% if page.series.size > 0 %}
      {% assign series_from_language = site.data.language.series.series-from-page %}
      {% else assign series_from_language = '' %}
    {% endif %}
    {% if page.series > 0%}
      {% assign series_info = site.series | where: "relative_path", series %}
      {% else assign series_info = '' %}
    {% endif %}
{% endif %}


  <div class="content-type">
      <span class="content-type__content">{{ content_type | upcase }}</span>
      <span class="content-type__series">
        {{ series_from_language }}
        {{ series_info[0].title || escape || upcase }}
        HELLO???
      </span>
  </div>
