<footer class="site-footer h-card" role="footer">
  <data class="u-url" href="{{ " / " | relative_url }}"></data>

  <div class="wrapper-full">
    <div class="site-footer__info">

      <img class="site-footer__csis-logo" src="{{ 'assets/images/logos/csis_logo_white.svg' | relative_url }}" alt="{{ Center for Strategic and International Studies }}" title="{{ Center for Strategic and International Studies }}" />

      <p class="site-footer__desc">
        <span class="site-footer__section-title"> {{site.data.language.footer.about_heading }}</span>
        {{site.data.language.footer.about_description }}
      </p>


      <div class="site-footer__follow">
        <span class="site-footer__follow-csis">{{ site.data.language.footer.follow_csis }}</span>
        <a class="site-footer__follow-program" target="_blank" href="{{ site.data.language.twitter }}">{{ site.data.language.footer.follow_program }}</a>
        <a class="site-footer__follow-icon" target="_blank" href="{{ site.data.language.twitter }}"><i class="icon-twitter"></i></a>
      </div>

      <ul class="site-footer__contact-list">
        <li>Contact</li>
        <li><i class="icon-phone"></i>{{site.data.language.footer.phone_number }}</li>
        <li>
          <i class="icon-email"></i>
          <a href="mailto:{{ site.data.language.footer.email_address }}?Subject={{ site.title }}">{{site.data.language.footer.email_address }}</a>
        </li>

        <li><i class="icon-location"></i>{{site.data.language.footer.address }}</li>
      </ul>
    </div>
    <div class="site-footer__menu">
      {% for parent_item in site.data.main_menus %}
        {% assign section_title = parent_item.footer_title | default: parent_item.title | escape %}
        {% if parent_item.url %}
          {%- capture section_title -%}<a href="{{ parent_item.url }}">{{ section_title }}</a>{%- endcapture -%}
        {% endif %}
        <div class="site-footer__section-title">{{ section_title }}</div>

        {% assign items = parent_item.items | where_exp: "item", "item.hide_footer != true" %}
        {% if items.size > 0 %}
        <ul>
          {%- for item in items -%}
            {% if item.collection %}
              {% for post in site[item.collection] %}
                <li class="menu-item"><a href="{{ post.url | relative_url }}" title="{{ post.title | escape }}">{{ post[item.item_title_field] | default: post.title | escape }}</a></li>
              {% endfor %}
            {% else %}
            <li class="menu-item"><a href="{{ item.url | relative_url | escape }}" title="{{ item.desc }}">{{ item.title }}</a></li>
            {% endif %}
          {%- endfor -%}
        </ul>
        {% endif %}
      {% endfor %}
    </div>
    <section class="site-footer__copyright">
      <p> &copy;{{ site.time | date: '%Y' }} {{ site.data.language.footer.copyright }}</p>
      <p> <a href="https://www.csis.org/privacy-policy" target="_blank">Privacy Policy</a></p>
    </section>
  </div>
</footer>

<script src="{{ "/assets/js/bundle.js" | relative_url }}" type="text/javascript"></script>
{% if page.use_algolia %}
<script src="{{ "/assets/js/archives.js" | relative_url }}" type="text/javascript"></script>
{% endif %}
{% if page.layout == 'members' %}
<script src="{{ "/assets/js/members.js" | relative_url }}" type="text/javascript"></script>
{% endif %}
