<nav class="site-nav">
  <input type="checkbox" id="site-nav__trigger" class="site-nav__trigger" />
  <label for="site-nav__trigger" class="site-nav__trigger-label" aria-label="Toggle Menu">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </label>

  <ul class="site-nav__menu">
    <li>
      The Commission<i class="icon-arrow-down"></i>
      <div class="site-nav__dropdown">
        <ul class="site-nav__dropdown-menu">
          <li><a href="">About</a></li>
          <li><a href="">The Commissioners</a></li>
        </ul>
      </div>
    </li>
    <li>
      Our Work<i class="icon-arrow-down"></i>
      <div class="site-nav__dropdown">
        <span class="site-nav__dropdown-heading">Themes</span>
        <ul class="site-nav__dropdown-menu">
          <li><a href="">About</a></li>
          <li><a href="">The Commissioners</a></li>
        </ul>
        <span class="site-nav__dropdown-heading">Series</span>
        <ul class="site-nav__dropdown-menu">
          <li><a href="">About</a></li>
          <li><a href="">The Commissioners</a></li>
        </ul>
      </div>
    </li>
    <li><a href="">Resources</a></li>
  </ul>
</nav>