{% if page.name == 'members.md' %}
{% include navigate-members.html %}
<h3 class="section-title-lg {{ page.name  | remove: ".md" }}">{{ page.title }}</h3>
<div class="member-directory">

  <h2>Commission Members</h2>
  {% for group in site.data.members %}
  <div class="group {{ group.type }}">
    <h3 class="group__title">{{ group.title }} <a name="{{ group.type }}"></a></h3>

    {% for member in site.data[group.type] %}
    <div class="group__member">
      {% assign file = member['Last Name'] | append: "_" | append: member['First Name'] | append: ".jpg" %}
      {% assign path = site.cloudinary_url | append: "r_max/v1536943052/health-commission/" %}
      {% assign placeholder = "Anon.jpg"  %}

      <img class="group__member__photo" onerror="this.src='{{ path }}{{ placeholder }}'" src="{{ path }}{{ file }}" />

      <div class="group__member__text">
        <a name="{{ member['Last Name'] | append: member['First Name'] | slugify }}"></a>
        <div class="bio-name">{{ member['Display Name'] }}</div>
        <div class="bio-title">{{ member['Short Title'] }}</div>
        <p class="bio-short">{{ member['Short Bio'] }}</p>
        <span class="btn member-bio" data-id="{{group.type}}_{{ forloop.index0 }}">Read Full Bio</span>
      </div>

    </div>
    {% endfor %}

    {% unless forloop.first or forloop.last %}

    <a href="#" class="back-to-top">
      BACK TO TOP <i class="icon-arrow-up"></i>
    </a>
    {% endunless %}
  </div>
  {% endfor %}

</div>
{% endif %}
