<div class="related-by-tag">
  <div class="section-title">
    {{ site.data.language.related_articles }}
  </div>

  {% assign maxRelated = 2 %}
  {% assign minCommonTags = 1 %}
  {% assign maxRelatedCounter = 0 %}

  <div class="related-by-tag__list">
  {% for post in site[page.collection] reversed %}

    {% assign sameTagCount = 0 %}

    {% for tag in post.keywords %}
      {% if post.url != page.url and post.url != read_next.url %}
        {% if page.keywords contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if sameTagCount >= minCommonTags %}
      <article class="related-by-tag__list__item">

        <div class="header-type">
          {{ post.content_type }}
        </div>
          <a class="post-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <div class="post-author">
          {% if read_next.authors.size > 0 %}
            By {% for author in post.authors %}{% assign penultimate =  forloop.length | minus: 1 %}
            {% assign author_info = site.authors | where: "path", author | first %}
            {{ author_info.title }}{% unless forloop.last or forloop.length < 3 %}, {% endunless %}{% if forloop.index == penultimate %} and {% endif %}{% endfor %}
          {% endif %}
        </div>
        <div class="post-date">
          <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished" class="articleDate">{{ post.date | date: site.date_format }}</time>
        </div>
        {% include themes-list.html %}

      </article>


      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}

      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}

    {% endif %}
  {% endfor %}

  {% if maxRelatedCounter == 0 %}
  {% assign related = next_posts | sort: date | slice: 1,2 %}
    {% for post in related %}
      <article class="related-by-tag__list__item">

        <div class="header-type">
          {{ post.content_type }}
        </div>
          <a class="post-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <div class="post-author">
          {% if read_next.authors.size > 0 %}
            By {% for author in post.authors %}{% assign penultimate =  forloop.length | minus: 1 %}
            {% assign author_info = site.authors | where: "path", author | first %}
            {{ author_info.title }}{% unless forloop.last or forloop.length < 3 %}, {% endunless %}{% if forloop.index == penultimate %} and {% endif %}{% endfor %}
          {% endif %}
        </div>
        <div class="post-date">
          <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished" class="articleDate">{{ post.date | date: site.date_format }}</time>
        </div>
        {% include themes-list.html %}

      </article>
    {% endfor %}
  {% endif %}
  </div>
</div>
