<div class="next-by-theme">
  <div class="next-by-theme__section-title">
    {{ section_title }}
  </div>
  <div class="next-by-theme__header-type">
    {{ read_next.content_type }}
  </div>
  <div class="next-by-theme__post-title">
    <a href="{{ read_next.url | relative_url }}">{{ read_next.title }}</a>
  </div>
  <div class="next-by-theme__post-author">
    By {% for author in read_next.authors %}{% assign penultimate =  forloop.length | minus: 1 %}
    {% assign author_info = site.authors | where: "path", author | first %}
    {{ author_info.title }}{% unless forloop.last or forloop.length < 3 %}, {% endunless %}{% if forloop.index == penultimate %} and {% endif %}{% endfor %}
  </div>
  <div class="next-by-theme__post-date">
    <time datetime="{{ read_next.date | date_to_xmlschema }}" itemprop="datePublished" class="articleDate">{{ read_next.date | date: site.date_format }}</time>
  </div>
  {% include themes-list.html %}
</div>
