{% assign content_type_name = post.content_type %}
{% if page.content_type.size > 0 %}
  {% assign content_type_name = page.content_type %}
{% endif %}

{% assign post_series = post.series %}
{% if page.series.size > 0 %}
  {% assign post_series = page.series %}
{% endif %}

{% if content_type_name.size > 0 or post_series.size > 0 %}
  <div class="post-meta post-meta__content-series-wrapper">
    {% if content_type_name.size > 0 %}
      {% assign content_type_info = site.data.content_types | where: 'type', content_type_name %}
      {% assign content_type_search = content_type_info[0].title_plural %}

      <a href="{{ site.content_type_url | append: content_type_search }}" class="post-meta__link post-meta__content-type">{{ content_type_name }}</a>
    {% endif %}

    {% if post_series.size > 0 %}
      {% assign series_info = site.series | where: "relative_path", post_series[0] | first %}
      <div class="post-meta__series">
        {{ site.data.language.series.from }}
        <a href="{{ site.series_url | append: series_info.url | relative_url }}" class="post-meta__link post-meta__series-name">{{ series_info.title }}</a>
      </div>
      {% endif %}
  </div>
{% endif %}
