<div class="related-by-tag">
  <h3 class="section-title">
    {{ site.data.language.related_articles }}
  </h3>

  {% assign maxRelated = 2 %}
  {% assign minCommonTags = 1 %}
  {% assign maxRelatedCounter = 0 %}

  <div class="related-by-tag__list">
  {% for post in site.posts | concat: site.events | sort: date | reversed %}

    {% assign sameTagCount = 0 %}

    {% for tag in post.keywords %}
      {% if post.url != page.url and post.url != read_next.url %}
        {% if page.keywords contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if sameTagCount >= minCommonTags %}
      {% include post-block.html %}

      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}

      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}

    {% endif %}
  {% endfor %}

  {% if maxRelatedCounter == 0 %}

    {% if next_posts.size > 1 %}
      {% assign related = next_posts | where_exp:"item","item.url != page.url" | sort: date | slice: 1,2 %}
    {% elsif previous_posts.size > 1 %}
      {% assign related = previous_posts | where_exp:"item","item.url != page.url" | sort: date | reverse | slice: 1,2 %}
    {% endif %}

    {% for post in related %}
      {% if post.url != page.url %}
        {% include post-block.html %}
      {% endif %}
    {% endfor %}

  {% endif %}
  </div>
</div>
