<article class="post-block {{ include.class }}" role="article" data-content-type="{{ post.content_type }}">
  {% if include.show_image and post.image.size > 0 %}
  <a href="{{ post.url | relative_url }}" class="post-block__img"><img src="{{ post.image | relative_url }}" alt="{{ post.title | escape }}" title="{{ post.title | escape }}" /></a>
  {% endif %}
  <header class="post-block__header" role="header">
    <div class="post-meta">
      {% include post-meta-content-type-series.html %}
    <h2 class="post-block__title"><a href="{{ post.url | relative_url }}">
      {{ post.title | escape }}
    </a></h2>
      {% include post-meta-authors.html %}
      {% include post-meta-date.html %}
    </div>
  </header>
  {% if include.hide_excerpt != true %}
    <main class="post-block__content" role="main">
      <p>{{ post.excerpt }}</p>
    </main>
  {% endif %}
  <footer class="post-block__footer" role="footer">
    {%- include themes-list.html num_themes = include.num_themes -%}
  </footer>
  {% if include.show_image and post.image.size > 0 %}
  <div class="post-block__clear"></div>
  {% endif %}
</article>
