/*=================================
=            Variables            =
=================================*/

/*----------  Colors  ----------*/

$color-white: #ffffff;
$color-black: #000000;
$color-dust: #b89e69;
$color-warm-gray: #7d7d7d;
$color-cool-gray: #bdc8d0;
$color-light-brown: #d7c7a4;
$color-dark-sand: #a58d5d;
$color-dark-blue: #143459;
$color-gray-brown: #4a4a4a;
$color-slate: #5a6c7a;
$color-silver: #d8d9dc;
$color-dark-silver: #c4ccd2;
$color-off-white: #f2f2f2;
$color-gray: #999999;
$color-dusty-lavender: #c3c2c3;
$color-light-gray: #eaeaea;
$color-beige: #efe6d0;
$color-purple: #8e6c89;
$color-dark-purple: #643b5e;
$color-brown: #968f80;
$color-dark-brown: #58544a;
$color-orange: #f26522;
$color-dark-orange: #be4911;
$color-turquoise: #47acb1;
$color-dark-turquoise: #2f7679;
$color-yellow: #f5a623;
$color-dark-yellow: #c18015;
$color-dark-blue-gray: #0b1f37;
$color-darkest-blue: #1c334f;

$color__background-body: $color-white;
$color__background-screen: $color-white;
$color__background-hr: $color-black;
$color__background-pre: $color-light-gray;

$color__text-screen: $color-black;
$color__text-input: $color-black;
$color__text-input-focus: $color-black;
$color__link: $color-black;
$color__link-visited: $color-black;
$color__link-hover: $color-black;
$color__text-main: $color-black;

$color__border-input: $color-black;
$color__border-abbr: $color-gray;

$themes: (
  global-disorder: (
    $color-purple,
    $color-dark-purple
  ),
  managing-biotechnology: (
    $color-turquoise,
    $color-dark-turquoise
  ),
  drug-resistance: (
    $color-yellow,
    $color-dark-yellow
  ),
  high-risk-disease-outbreaks: (
    $color-orange,
    $color-dark-orange
  ),
  developing-countermeasures: (
    $color-brown,
    $color-dark-brown
  )
);

/*----------  Typography  ----------*/

$font-europa: 'europa', sans-serif;
$font-georgia: Georgia, Times, 'Times New Roman', serif;
$fontello_url: '../fonts/';

$font__main: $font-georgia;
$font__code: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
$font__pre: 'Courier 10 Pitch', Courier, monospace;
$font__line-height-body: 1.67;
$font__line-height-pre: 1.6;

/*----------  Structure  ----------*/

$size-wrapper-max-width: 1280px;
$size-wrapper-full-max-width: 1440px;
$size-page-content-max-width: 980px;
$size-page-text-max-width: 700px;
$size-post-media-max-width: 475px;
$size-wrapper-padding: 50px;
$size-wrapper-padding-mobile: 16px;
$size-page-content-padding: 50px;
$size-page-highlights-width: 66%;
$size-page-highlights-height-desktop: 75px;
$size-page-highlights-height-mobile: 50px;
