.site-footer {
  $sf: &;
  background-color: $color-dark-blue;
  @include fullWidthBackground($color-dark-blue);
  color: $color-white;
  padding: $size-wrapper-padding-mobile 0;
  @include breakpoint('medium') {
    padding: 0;
  }

  &__section-title {
    @extend %footer-section-title;
    text-transform: uppercase;
    display: block;

    @include breakpoint('medium') {
      display: inline;
    }
  }

  .wrapper-full {
    display: flex;
    flex-wrap: wrap;
    padding-top: $size-wrapper-padding-mobile;

    @include breakpoint('medium') {
      padding-top: $size-wrapper-padding;
    }
  }

  .site-footer__info {
    flex-basis: 100%;
    @media screen and (min-width: 80em) {
      border-right: 1px solid $color-slate;
      padding-right: $size-wrapper-padding;
      flex-basis: 75%;
    }

    #{$sf}__csis-logo {
      opacity: 0.75;
      max-width: 350px;
      margin-bottom: $size-wrapper-padding-mobile;
      @include breakpoint('medium') {
        opacity: 1;
      }
    }

    #{$sf}__section-title {
      @extend %footer-section-title;
      text-transform: uppercase;
      padding-right: 1rem;
    }

    #{$sf}__desc {
      @extend %footer-description;

      a {
        color: inherit;
        @include box-shadow(0px, -2px, 0px, 0, $color-dust, true);

        &:visited {
          color: $color-slate;
        }

        &:hover {
          color: $color-dust;
          box-shadow: none;
        }
      }
    }

    i {
      color: $color-dust;
    }

    #{$sf}__follow {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      max-height: 3rem;
      margin: 2rem 0;
      align-content: flex-start;
      @include breakpoint('medium') {
        margin: 2.5rem 0 1.5rem;
        flex-direction: row;
        height: auto;
      }

      &-csis,
      &-program {
        white-space: nowrap;
        @include breakpoint('medium') {
          width: auto;
        }
      }

      @extend %header-nav-link;
      &-icon {
        order: -1;
        @include font-size(48px);
        @include breakpoint('medium') {
          order: unset;
          @include font-size(24px);
          position: relative;
          top: -3px;
        }

        i:before {
          margin-left: 0;
          @include breakpoint('medium') {
            margin-left: 0.2em;
          }
        }
      }

      &-csis {
        @extend %footer-section-title;
        line-height: 1.8;
        font-weight: 100;
        padding-right: 0.5rem;

        @include breakpoint('medium') {
          line-height: unset;
        }
      }
      &-program {
        @extend %footer-section-title;
        color: $color-dust;
        text-transform: uppercase;
      }
    }

    #{$sf}__contact-list {
      padding-left: 0;
      display: flex;
      flex-wrap: wrap;

      @media screen and (min-width: 80em) {
        padding-bottom: 2.25rem;
        justify-content: space-between;
        flex-wrap: nowrap;
      }

      li {
        list-style-type: none;
        margin-bottom: 0.5rem;
        display: flex;
        flex-direction: column;
        max-height: 3rem;
        align-content: flex-start;
        flex-wrap: wrap;

        &:first-of-type {
          @extend %footer-section-title;
          font-size: 1.25rem;
          font-weight: normal;
          text-transform: uppercase;
          flex: 1 1 75%;

          color: $color-dark-silver;
          @media screen and (min-width: 80em) {
            font-size: 1rem;
            position: relative;

            &:after {
              content: '';
              height: 1px;
              width: 30%;
              background-color: $color-slate;
              top: calc(50% - 0.6rem);
              left: 60%;
              position: absolute;
            }
          }
        }
        &:not(:first-of-type) {
          @extend %footer-section-title;
          font-weight: normal;
          color: $color-silver;
          flex: 1 1 100%;
          @media screen and (min-width: 80em) {
            position: relative;

            &:nth-of-type(n + 3):before {
              content: '';
              position: absolute;
              left: -10%;
              top: -0.5rem;
              width: 1px;
              height: 100%;
              background-color: $color-slate;
            }
          }
        }
        i {
          @include font-size(18px);
          &:before {
            margin-right: 0.4em;
            margin-left: 0;
          }
        }
        a:hover {
          color: $color-white;
        }
      }
    }
  }

  .site-footer__menu {
    display: none;
    @extend %header-nav-link;

    @media screen and (min-width: 80em) {
      display: block;
      flex-basis: 25%;
      padding-left: calc(#{$size-wrapper-padding} / 2);
    }

    .site-footer__section-title {
      margin-top: 0.6rem;

      a {
        &:visited {
          color: $color-white;
        }

        &:hover {
          color: $color-dust;
        }
      }
    }

    ul {
      line-height: 1.6;
      margin: 0.5rem 0 1.5rem;
      padding-left: 1.5rem;

      .menu-item {
        list-style-type: none;
        a {
          @extend %footer-list-item;
          &:hover {
            color: $color-white;
          }
        }
      }
    }
  }

  #{$sf}__copyright {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    @include breakpoint('medium') {
      padding: 0.5rem 0;
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        width: 100vw;
        height: 1px;
        margin-left: -50vw;
        margin-right: -50vw;
        background-color: $color-slate;
      }
    }

    p {
      @extend %footer-copyright;
      margin-bottom: 0.67rem;
      flex-basis: 100%;
      @include breakpoint('medium') {
        flex-basis: auto;
      }

      a {
        color: $color-dust;
      }
    }
  }
}
