/*==============================
=            Header            =
==============================*/

.site-header {
  $s: &;
  $minimal: '.site-header--minimal';

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  height: $size-site-header-height;
  padding: 0.5rem 0;
  transition: top 0.3s ease-in-out, background 0.5s ease-in-out;

  @include breakpoint('medium') {
    position: fixed;
    background-color: transparent;
  }

  &#{$minimal} {
    position: fixed;
    background-color: $color-white;
    box-shadow: 1px 1px 5px 0px rgba(140,137,140,0.6);
  }

  &#{&}--hidden {
    top: -#{$size-site-header-height};
    box-shadow: none;
  }

  .wrapper-full {
    display: flex;
    align-items: center;
  }

  &__masthead {
    flex: 1 1 80%;

    a {
      display: block;
    }

    #{$s}__logo {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s ease-in-out, opacity 0.3s 0.3s ease-in-out;

      @include breakpoint('medium') {
        position: static;
        visibility: visible;
        opacity: 1;
      }

      #{$minimal} & {
        position: static;
        visibility: visible;
        opacity: 1;
      }

      svg {
        display: block;
        max-width: 35px;

        @include breakpoint('medium') {
          max-width: 50px;
        }
      }

      .dots {
        fill: $color__logo-white-dots;

        #{$minimal} & {
          fill: $color__logo-color-dots;
        }
      }

      .lines {
        fill: $color__logo-white-lines;

        #{$minimal} & {
          fill: $color__logo-color-lines;
        }
      }
    }

    #{$s}__subtitle,
    #{$s}__title {
      transition: visibility 0s ease-in-out, opacity 0.3s 0.3s ease-in-out;

      #{$minimal} & {
        position: absolute;
        visibility: hidden;
        opacity: 0;
      }
    }

    #{$s}__subtitle {
      @extend %post-meta;
      @include font-size(12px);
      text-transform: uppercase;
    }

    #{$s}__title {
      @extend %page-title;
      @include font-size(22px);
      color: $color-white;
      letter-spacing: 1px;
    }
  }

  &__search {
    margin: 0 0.5rem;

    i {
      @include font-size(18px);
      color: $color-white;

      #{$minimal} & {
        color: $color-black;
      }
    }
  }
}

