/*===============================
=            Archive            =
===============================*/

.archive {
  .page-header {
    margin-bottom: 0;
    min-height: 400px;
  }

  &__header {
    display: flex;
    flex-direction: column;

    .post__header-meta {
      position: relative;
      background-color: $color-light-gray;
      padding-top: 2rem;
      padding-bottom: 2rem;
      @include fullWidthBackground($color-light-gray);

      @include breakpoint('medium') {
        background-color: transparent;

        &::before,
        &::after {
          display: none;
        }
      }

      p {
        @extend %body-text;
        font-style: normal;
        margin-bottom: 0;
      }
    }

    .pagination__stats {
      order: 4;

      @include breakpoint('medium') {
        order: 3;
      }
    }

    .pagination__filters {
      order: 3;

      @include breakpoint('medium') {
        order: 4;
      }
    }
  }

  &__content {
    max-width: $size-page-text-max-width;
    margin: 4rem auto;
  }

  &--search .page-header__title {
    font-style: italic;
    color: $color-silver;

    span {
      font-style: normal;
      color: $color-white;
    }
  }

  &__search {
    width: 100%;
    padding-left: 2rem;
    border: none;
    border-bottom: 1px solid $color-dusty-lavender;
    @extend %search-placeholder;

    @include breakpoint('medium') {
      @include font-size(30px);
    }
  }

  .ais-search-box {
    position: relative;
    margin: 3rem 0 2rem;

    .ais-search-box--magnifier-wrapper {
      position: absolute;
      top: 0;
      left: 0;

      @include breakpoint('medium') {
        top: 9px;
      }
    }
    .ais-search-box--magnifier {
      max-width: 20px;

      path {
        fill: $color-dust;
      }
    }

    .ais-search-box--reset-wrapper {
      position: absolute;
      top: 3px;
      right: 0;

      @include breakpoint('medium') {
        top: 12px;
      }
    }

    .ais-search-box--reset {
      background-color: transparent;
      border: none;
      max-width: 30px;

      path {
        fill: $color-dust;
      }
    }
  }

  .ais-hits--item {
    @extend .post-block;

    .post-block {
      margin-top: 0;
    }
  }
}

