.final-report {
  p + h2 {
    margin-top: 4rem;
  }

  &__quoted {
    @include box-shadow(0px, -2px, 0px, 0, $color-dust, true);
  }

  &__members {
    position: relative;
    grid-column: 1 / -1;
    padding: 2rem 0;
    text-align: center;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      margin-left: calc((100vw - 100%) / 2 * -1);
      width: 100vw;
      height: 1px;
      background-color: $color-silver;

      @include breakpoint('medium') {
        margin-left: calc((100vw - #{$size-page-text-max-width}) / 2 * -1);
      }
    }

    h2,
    h3 {
      grid-column: 1 / -1;
      font-weight: normal;
    }

    h2 {
      margin: 0 0 1.5rem;
    }

    h3 {
      margin: 0;
      text-transform: uppercase;
    }

    .group {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
      grid-gap: 3rem;

      &:first-of-type {
        margin-bottom: 3rem;
        padding-bottom: 3rem;
        border-bottom: 1px solid $color-silver;
      }
    }

    .group__member {
      &-name {
        @extend %bio-name;
        text-transform: uppercase;
      }

      &-title {
        @extend %bio-title;
      }
    }
  }

  &__recommendations {
    margin-top: 1.5rem;
    padding: 0 0 0 2rem;
    list-style: none;
    counter-reset: recommendations;

    li {
      position: relative;
      margin-bottom: 2rem;
      counter-increment: recommendations;

      &::before {
        content: counter(recommendations);
        position: absolute;
        left: -2rem;
        color: $color-slate;
        font-family: $font-europa;
        font-weight: bold;
        @include font-size(24px);
        line-height: 1.33;
      }

      h3 {
        margin: 0 0 1rem;
        font-weight: normal;
      }
    }
  }
}
