/*=================================
=            Home Page            =
=================================*/
.home {
  $padding: 2rem;
  display: grid;

  @include breakpoint('medium') {
    grid-template-rows: minmax(515px, auto) repeat(4, auto);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "hero hero hero hero"
      "desc desc featured-primary featured-primary"
      "commission-img commission-desc featured-primary featured-primary"
      "events-series featured-secondary featured-secondary recent-posts"
      "themes themes themes-img themes-img";
  }

  &__hero {
    grid-area: hero;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-darkest-blue;
    color: $color-white;
    @include fullWidthBackground($color-darkest-blue);

    &-subtitle,
    &-title {
      position: relative;
      z-index: 5;
    }

    &-subtitle {
      font-family: $font-europa;
      @include font-size(32px);
      letter-spacing: 1.8px;
      text-transform: uppercase;
    }

    &-title {
      padding-right: 33%;
      font-family: $font-georgia;
      @include font-size(72px);
      line-height: 1.21;
    }

    .home__map {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 50%;
      right: 50%;
      width: 100vw;
      height: 100%;
      margin-left: -50vw;
      margin-right: -50vw;
      text-align: right;

      svg {
        height: 490px;
      }
    }
  }

  &__desc {
    grid-area: desc;
    position: relative;
    margin-top: -4rem;
    background-color: $color-darkest-blue;
    @extend %post-body;
    color: $color-white;
    @include fullWidthBackground($color-darkest-blue, left);

    @include breakpoint('medium') {
      padding-right: $size-wrapper-padding;
      padding-bottom: $padding;
    }
  }

  &__commission-img {
    grid-area: commission-img;
    position: relative;

    @include breakpoint('medium') {
      @include fullWidthBackground($color-off-white, left);
    }
  }

  &__commission-desc {
    grid-area: commission-desc;
    background-color: $color-off-white;
    padding: $padding;

    p {
      margin-bottom: 2rem;
    }
  }

  &__featured-primary {
    grid-area: featured-primary;
    position: relative;
    display: flex;
    align-items: flex-end;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    @include fullWidthBackground($color-darkest-blue, right);

    &::before {
      content: '';
      display: block;
      position: absolute;
      z-index: 5;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to bottom, rgba(90, 108, 122, 0), rgba(21, 29, 35, 0.58)), linear-gradient(rgba(20, 52, 89, 0.11), rgba(20, 52, 89, 0.11));
      background-color: transparent;
    }

    .post-block {
      position: relative;
      z-index: 10;
      width: 100%;
      margin: 0;
      padding: $padding;
      color: $color-white;

      &__title {
        @include font-size(39px);
        line-height: 1.31;

        a {
          color: $color-white;
        }
      }
    }
  }

  &__events-series {
    grid-area: events-series;
    position: relative;
    padding: $padding $padding $padding 0;
    background-color: $color-dust;
    color: $color-white;

    @include breakpoint('medium') {
      @include fullWidthBackground($color-dust, left);
    }

    .home__featured-events {
      margin-bottom: 3rem;
    }

    .section-title-lg {
      color: $color-white;
      margin-bottom: 1rem;
    }

    .post-block {
      margin-top: 1rem;

      i {
        @include font-size(22px);

        &::before {
          margin-left: 0;
        }
      }

      &__title {
        margin-bottom: 1rem;

        a {
          color: $color-white;

          &:hover {
            color: $color-dark-blue;
          }
        }
      }
    }

    .home__series {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      li {
        margin-bottom: 0.75rem;
      }

      a {
        color: $color-white;

        &:hover {
          color: $color-dark-blue;
        }
      }

      i {
        display: inline-block;
        transform: scale(1.2);
      }
    }
  }

  &__featured-secondary {
    grid-area: featured-secondary;
    padding: $padding;

    .post-block {
      border-top: 0;

      &:first-of-type {
        margin-top: 0;
      }

      &__title {
        @extend %post-block-post-title-featured;
      }
    }

    .btn {
      float: right;
      margin: $padding;
    }
  }

  &__recent-posts {
    grid-area: recent-posts;
    padding: $padding;
    clear: both;

    .post-block {
      margin-top: 1rem;
      padding-top: 1rem;

      &:first-of-type {
        border-top: 1px solid $color-silver;
      }
    }
  }

  &__themes {
    grid-area: themes;
    position: relative;
    padding: $padding $padding $padding 0;
    background-color: $color-off-white;

    @include breakpoint('medium') {
      @include fullWidthBackground($color-off-white, left);
    }

    .section-title-lg {
      margin-bottom: 0.5rem;
    }

    p {
      color: $color-warm-gray;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin-bottom: 0.5rem;

      &::before {
        content: '';
        display: inline-block;
        width: 1.75rem;
        height: 1rem;
        margin-right: 0.5rem;
        transition: background-color 0.3s ease-in-out;
      }

      a {
        display: inline-block;
        @extend %header-nav-link;
        color: $color-black;
      }

      @each $name, $colors in $themes {
        $color: nth($colors, 1);
        $hover: nth($colors, 2);
         
        &.home__themes-item--#{$name} {
          &::before {
            background-color: $color;
          }

          &:hover::before {
            background-color: $hover;
          }

          &:hover a {
            color: $hover;
          }
        }  
      }
    }

  }

  &__themes-img {
   grid-area: themes-img;
  }
}

