/*=================================
=            Home Page            =
=================================*/
.home {
  $padding: 2rem;
  $image-offset: 17px;
  display: grid;

  grid-template-rows: minmax(400px, auto) repeat(4, auto);
  grid-template-columns: 1fr;
  grid-template-areas:
    "hero"
    "desc"
    "commission-img"
    "commission-desc"
    "featured-header"
    "featured-primary"
    "featured-secondary"
    "recent-header"
    "recent-posts"
    "articles-btn"
    "events-series"
    "themes"
    "themes-img";

  @include breakpoint('medium') {
    grid-template-rows: minmax(515px, auto) repeat(5, auto);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "hero hero"
      "desc desc"
      "commission-img commission-desc "
      "featured-header featured-header"
      "featured-primary featured-primary"
      "featured-secondary featured-secondary"
      "recent-header recent-header"
      "recent-posts recent-posts"
      "articles-btn articles-btn"
      "events-series events-series"
      "themes themes"
      "themes-img themes-img";
  }

  @include breakpoint($breakpoint-desktop) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "hero hero hero hero"
      "desc desc featured-primary featured-primary"
      "commission-img commission-desc featured-primary featured-primary"
      "events-series featured-secondary featured-secondary recent-posts"
      "events-series articles-btn articles-btn recent-posts"
      "themes themes themes-img themes-img";
  }

  &__hero {
    $gradient-dark: darken($color-darkest-blue, 5%);
    grid-area: hero;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: $color-darkest-blue;
    background-image: linear-gradient(to top, $color-darkest-blue, $color-darkest-blue 25%, $gradient-dark 100%);
    color: $color-white;
    @include fullWidthBackground($color-darkest-blue);

    @include breakpoint($breakpoint-desktop) {
      justify-content: center;
    }

    &::before,
    &::after {
      background-image: linear-gradient(to top, $color-darkest-blue, $color-darkest-blue 25%, $gradient-dark 100%);
    }

    &-subtitle,
    &-title {
      position: relative;
      z-index: 5;
    }

    &-subtitle {
      @extend %post-meta;
      text-transform: uppercase;

      @include breakpoint('medium') {
        @include font-size(32px);
        letter-spacing: 1.8px;
      }
    }

    &-title {
      @extend %page-title;

      @include breakpoint('medium') {
        padding-right: 33%;
        @include font-size(72px);
        line-height: 1.21; 
      }
    }

    .home__map {
      position: relative;
      z-index: 1;
      @extend %full-width-content;
      text-align: center;
      overflow: hidden;

      @include breakpoint('medium') {
        position: absolute;
        z-index: 1;
        text-align: right;
      }

      svg {
        position: relative;
        left: -25%;
        width: 160vw;

        @include breakpoint('medium') {
          left: 0;
          width: 100vw;
        }

        @include breakpoint($breakpoint-desktop) {
          position: static;
          left: unset;
          width: auto;
          height: 490px;
        }
      }
    }
  }

  &__desc {
    grid-area: desc;
    position: relative;
    padding-top: $padding;
    padding-bottom: $padding;
    background-color: $color-darkest-blue;
    @extend %post-body;
    color: $color-white;
    @include fullWidthBackground($color-darkest-blue);

    @include breakpoint($breakpoint-desktop) {
      margin-top: -4rem;
      padding-top: 0;
      padding-right: $size-wrapper-padding;

      &::after {
        display: none;
      }
    }
  }

  &__commission-img {
    grid-area: commission-img;
    position: relative;
    min-height: 220px;
    background-color: $color-off-white;
    background-image: url('https://res.cloudinary.com/csisideaslab/image/upload/v1537899884/health-commission/About_Header_Photo.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @extend %full-width-content;

    @include breakpoint('medium') {
      width: 50vw;
    }

    @include breakpoint($breakpoint-desktop) {
      width: calc(25vw + #{$size-wrapper-padding};
      left: unset;
      right: unset;
      margin-left: -#{$size-wrapper-padding};
      margin-right: 0;
    }

    @include breakpoint($size-wrapper-full-max-width) {
      width: 100%;
      margin-left: 0;
      @include fullWidthBackground($color-off-white, left);
    }
  }

  &__commission-desc {
    grid-area: commission-desc;
    position: relative;
    background-color: $color-off-white;
    padding: $padding 0;
    @include fullWidthBackground($color-off-white);

    @include breakpoint('medium') {
      padding: $padding;

      &::before {
        display: none;
      }

      &::after {
        width: calc((100vw - 100%) / 2 - 50%);
      }
    }

    @include breakpoint($breakpoint-desktop) {
      &::after {
        display: none;
      }
    }

    p {
      margin-bottom: 2rem;
    }
  }

  &__featured-header {
    grid-area: featured-header;

    .section-title-lg {
      margin: $padding 0 0.5rem;
      text-align: center;
    }

    @include breakpoint('medium') {
      display: none;
    }
  }

  &__featured-primary {
    grid-area: featured-primary;
    position: relative;
    display: flex;
    align-items: flex-end;
    min-height: 350px;
    @extend %full-width-content;

    @include breakpoint($breakpoint-desktop) {
      width: calc(50vw - #{$image-offset});
      left: unset;
      right: unset;
      margin-left: 0;
      margin-right: 0;
    }

    @include breakpoint($size-wrapper-full-max-width) {
      width: 100%;
      @include fullWidthBackground($color-darkest-blue, right);
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      z-index: 5;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to bottom, rgba(90, 108, 122, 0), rgba(21, 29, 35, 0.58)), linear-gradient(rgba(20, 52, 89, 0.11), rgba(20, 52, 89, 0.11));
      background-color: transparent;
    }

    &:hover {
      .home__featured-primary-img::before {
        transform: scale(1.1);
      }
    }

    &-img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      transition: transform 0.3s ease-in-out;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: inherit;
        transition: inherit;
      }
    }

    .post-block {
      position: relative;
      z-index: 10;
      width: 100%;
      margin: 0;
      padding: $size-wrapper-padding-mobile;
      color: $color-white;

      @include breakpoint('medium') {
        padding: $padding;
      }

      &__title {
        @extend %archive-post-title-featured;

        @include breakpoint('medium') {
          @include font-size(39px);
          line-height: 1.31;
        }

        a {
          color: $color-white;
        }
      }
    }
  }

  &__events-series {
    grid-area: events-series;
    position: relative;
    padding: $padding $padding $padding 0;
    background-color: $color-dust;
    color: $color-white;
    @include fullWidthBackground($color-dust);

    @include breakpoint($breakpoint-desktop) {
      &::after {
        display: none;
      }
    }

    .home__featured-events {
      margin-bottom: 3rem;
    }

    .section-title-lg {
      color: $color-white;
      margin-bottom: 1rem;
    }

    .post-block {
      margin-top: 1rem;

      i {
        @include font-size(22px);

        &::before {
          margin-left: 0;
        }
      }

      &__title {
        margin-top: 0;
        margin-bottom: 1rem;

        a {
          color: $color-white;

          &:hover {
            color: $color-dark-blue;
          }
        }
      }
    }

    .home__series {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      li {
        margin-bottom: 0.75rem;
      }

      a {
        color: $color-white;

        &:hover {
          color: $color-dark-blue;
        }
      }

      i {
        display: inline-block;
        transform: scale(1.2);
      }
    }
  }

  &__featured-secondary {
    grid-area: featured-secondary;
    padding: $padding 0;

    @include breakpoint($breakpoint-desktop) {
     padding: $padding; 
    }

    .post-block {

      @include breakpoint($breakpoint-desktop) {
        border-top: 0;
      }

      &:first-of-type {
        margin-top: 0;
      }

      &__title {
        @extend %post-block-post-title-featured;
      }
    }
  }

  &__recent-header {
    grid-area: recent-header;

    &::before {
      content: '';
      display: block;
      position: relative;
      top: 0;
      left: $size-wrapper-padding-mobile * -1;
      right: $size-wrapper-padding-mobile * -1;
      width: calc(100% + #{$size-wrapper-padding-mobile} * 2);
      height: 1px;
      background-color: $color-dusty-lavender;
    }

    .section-title-lg {
      margin: $padding 0 0;
      text-align: center;
    }

    @include breakpoint($breakpoint-desktop) {
      display: none;
    }
  }

  &__recent-posts {
    grid-area: recent-posts;
    padding: $padding 0;
    clear: both;

    @include breakpoint($breakpoint-desktop) {
      padding: $padding;
    }

    .post-block {
      @include breakpoint($breakpoint-desktop) {
        margin-top: 1rem;
        padding-top: 1rem;
      }

      &:first-of-type {
        margin-top: 0;
        padding-top: 0;

        @include breakpoint($breakpoint-desktop) {
          margin-top: 1rem;
          padding-top: 1rem;
         border-top: 1px solid $color-silver; 
        }
      }
    }
  }

  &__articles-btn {
    grid-area: articles-btn;
    text-align: center;
    padding: 0 $padding 5rem;
  }

  &__themes {
    grid-area: themes;
    position: relative;
    padding: $padding $padding $padding 0;
    background-color: $color-off-white;
    @include fullWidthBackground($color-off-white);

    @include breakpoint($breakpoint-desktop) {
      &::after {
        display: none;
      }
    }

    .section-title-lg {
      margin-bottom: 0.5rem;
    }

    p {
      color: $color-warm-gray;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      position: relative;
      margin-bottom: 0.5rem;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 1.75rem;
        transition: background-color 0.3s ease-in-out;
      }

      a {
        display: inline-block;
        margin-left: 2.5rem;
        font-family: $font-europa;
        @include font-size(16px);
        color: $color-black;
      }

      @each $name, $colors in $themes {
        $color: nth($colors, 1);
        $hover: nth($colors, 2);
         
        &.home__themes-item--#{$name} {
          &::before {
            background-color: $color;
          }

          &:hover::before {
            background-color: $hover;
          }

          &:hover a {
            color: $hover;
          }
        }  
      }
    }

  }

  &__themes-img {
   grid-area: themes-img;
   position: relative;
   min-height: 280px;
   background-color: $color-off-white;
    background-image: url('https://res.cloudinary.com/csisideaslab/image/upload/v1537904699/health-commission/About_Smaller_Photo.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @extend %full-width-content;

    @include breakpoint($breakpoint-desktop) {
      width: calc(50vw - #{$image-offset});
      left: unset;
      right: unset;
      margin-left: 0;
      margin-right: 0;
    }

    @include breakpoint($size-wrapper-full-max-width) {
      width: 100%;
      @include fullWidthBackground($color-off-white, right);
    }
  }
}

