.page {
  margin: 0 auto 3rem;
  > section {
    max-width: $size-page-content-max-width;
    margin: 0 auto 3rem;
    @extend %post-body;

    > *:not(.member-directory) {
      @include breakpoint('medium') {
        max-width: $size-page-text-max-width;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &__content {
    .section-title-lg.members {
      display: none;
    }
    h2 {
      font-weight: normal;
      text-align: center;
      margin: calculate-rem(8px) auto;
    }
    .about-photo {
      float: right;
      > * {
        margin: 0 0 0.5rem 1.5rem;
      }
      .about-photo__caption-credit {
        @extend %photo-caption-desc;
      }
    }
    .member-directory {
      @include breakpoint('medium') {
        margin-left: -150px;
        margin-right: -150px;
      }
      .group {
        display: grid;
        @include breakpoint('medium') {
          grid-template-columns: repeat(2, minmax(35%, 1fr));
        }

        &__title {
          text-transform: uppercase;
          font-weight: normal;
          letter-spacing: 1px;
          text-align: center;
          margin: 1.5rem auto;
          grid-column: 1 / -1;
        }
        &__member {
          @include breakpoint('medium') {
            display: grid;
            grid-template-columns: minmax(50px, 150px) minmax(250px, auto);
          }
          padding-bottom: 4.5rem;

          @include breakpoint('medium') {
            &:nth-child(odd) {
              padding-left: 3rem;
            }
            &:nth-child(even) {
              padding-right: 3rem;
            }
          }
        }
        &:not(:last-child) {
          position: relative;
          &:after {
            content: '';
            display: block;
            position: absolute;
            top: 100%;
            left: 50%;
            width: 100vw;
            height: 1px;
            margin-left: -50vw;
            margin-right: -50vw;
            background-color: $color-silver;
          }

          .back-to-top {
            @extend %label-lg;
            display: block;
            text-align: center;
            margin: 1rem;
            grid-column: 1 / -1;
            i {
              font-size: 1.5rem;
              position: relative;
              top: 3px;
            }
          }
        }
      }
    }
  }

  &__links {
    .about-table-contents-box {
      background-color: $color-off-white;
      padding: 2.25rem;
      &__subtitle {
        @extend %section-title;
        font-weight: normal;
        text-transform: uppercase;
        margin: 0;
      }
      &__title {
        @extend %post-block-post-title-featured;
        position: relative;
        &:hover {
          color: $color-dust;
        }
        &:after {
          position: absolute;
          right: -1rem;
          color: $color-dust;
          font-weight: bold;
          content: '\f105';
          font-family: 'healthcom';
          @include font-size(26px);
        }
      }
    }
  }

  &__footer {
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: calc(0% - 1.5rem);
      left: 50%;
      width: 100vw;
      height: 1px;
      margin-left: -50vw;
      margin-right: -50vw;
      background-color: $color-silver;
    }
  }

  .modal__container {
    display: flex;
    flex-wrap: wrap;
    @include breakpoint('medium') {
      flex-wrap: nowrap;
    }
    align-items: flex-start;
  }

  div[class$='member__photo'] {
    margin: auto auto 0.75rem;
    display: block;
    width: 100%;
    max-width: 100px;
    @include breakpoint('medium') {
      margin: 0;
      max-width: none;
    }
  }
  div[class$='member__text'] {
    @include breakpoint('medium') {
      padding-left: 1.5rem;
    }
    .bio-name {
      @extend %bio-name;
      text-transform: uppercase;
      text-align: center;
      .modal__container & {
        @extend %table-title;
      }

      @include breakpoint('medium') {
        text-align: left;
      }
    }
    .bio-title {
      @extend %bio-title;
      text-align: center;

      @include breakpoint('medium') {
        text-align: left;
      }
    }
    .bio-short,
    .bio-long {
      @extend %post-body;
      margin: calculate-rem(18px) 0;
    }
    .btn {
      margin: auto 25%;
      display: block;
      @include breakpoint('medium') {
        margin: 0;
        display: inline;
      }
    }
  }
}
