/*============================
=            Post            =
============================*/

.post {
  &__header {
    margin: 0 auto 3rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $color-silver;

    @include breakpoint('medium') {
      display: flex;
      margin-bottom: calculate-rem(48px);
      padding-bottom: 0;
      border-bottom: 0;
    }

    &-meta {
      margin-bottom: 1rem;
      @include breakpoint('medium') {
        flex: 1 0 $size-page-highlights-width;
        max-width: $size-page-highlights-width;
        margin-right: 2rem;
        margin-bottom: 0;
      }
    }
  }

  &__excerpt {
    @extend %post-intro;
  }

  &__content {
    max-width: $size-page-content-max-width;
    margin: 0 auto 5rem;
    @extend %post-body;

    & > :not(&-overflow) {
      @include breakpoint('medium') {
        max-width: $size-page-text-max-width;
        margin-left: auto;
        margin-right: auto; 
      }
    }

    &-overflow {
      @include breakpoint('medium') {
        @include post-overflow-content();
      }

      &--left {
        @include breakpoint('medium') {
          @include post-overflow-content('left');
        }
      }
    }
  }

  &__feature-image {
    margin: 0 0 2rem 0;

    @include breakpoint('medium') {
      margin-bottom: 1rem;
      margin-left: 2rem;
    }
  }

  &__footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    max-width: $size-page-text-max-width;
    margin: 0 auto;

    @include breakpoint('medium') {
      grid-template-columns: auto minmax(auto, 25%);
    }
  }

  &__references,
  &__authors-full,
  &__further-reading {
    position: relative;
    padding: 2rem 0;

    @include breakpoint('medium') {
      grid-column: span 2;
    }
    
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      margin-left: calc((100vw - 100%) / 2 * -1);
      width: 100vw;
      height: 1px;
      background-color: $color-silver;

      @include breakpoint('medium') {
        margin-left: calc((100vw - #{$size-page-text-max-width}) / 2 * -1);
      }
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }
}
