/*==============================
=            Themes            =
==============================*/

.themes {

  &__overview_btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
}

