html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: $color__background-body;
    /* Fallback for when there is no custom background color defined. */
    --breakpoint: "xsmall";

    @include breakpoint("small") {
        --breakpoint: "small";
    }

    @include breakpoint("medium") {
        --breakpoint: "medium";
    }

    @include breakpoint("large") {
        --breakpoint: "large";
    }

    &.menu-open {
        overflow-y: hidden;
    }
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding-left: $size-wrapper-padding-mobile;
    padding-right: $size-wrapper-padding-mobile;

    @include breakpoint('medium') {
      max-width: $size-wrapper-max-width;
      padding-left: $size-wrapper-padding;
      padding-right: $size-wrapper-padding;
    }
}

.wrapper-full {
    @extend .wrapper;

    @include breakpoint('medium') {
      max-width: $size-wrapper-full-max-width;
    }
}


