html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: $color__background-body;
    /* Fallback for when there is no custom background color defined. */
    --breakpoint: "xsmall";

    @include breakpoint("small") {
        --breakpoint: "small";
    }

    @include breakpoint("medium") {
        --breakpoint: "medium";
    }

    @include breakpoint("large") {
        --breakpoint: "large";
    }
}




