@each $dir in ('right', 'left') {
  .float.#{$dir} {
    @include breakpoint('medium') {
      float: unquote($dir);

      @if $dir == 'right' {
        margin-right: 0;
        margin-left: 2rem;
      } @else {
        margin-right: 2rem;
        margin-left: 0;
      }
    }
    @include breakpoint('large') {
      @if $dir == 'right' {
        margin-right: 0;
        margin-left: 2.5rem;
      } @else {
        margin-right: 2.5rem;
        margin-left: 0;
      }
    }
    @include breakpoint('xlarge') {
      @if $dir == 'right' {
        margin-right: 0;
        margin-left: 3rem;
      } @else {
        margin-right: 3rem;
        margin-left: 0;
      }
    }
  }
}

.float.small {
  @include structure($size__float-small, 'width');
}

.float.medium {
  @include structure($size__float-medium, 'width');
}

.float.large {
  @include structure($size__float-large, 'width');
  max-width: 500px;
}

.medium:not(.float) {
  @include structure($size__medium, 'width');
  margin: 3rem auto !important;
}

.large:not(.float) {
  @include structure($size__large, 'width');
  margin: 3rem auto !important;
}

.max:not(.float) {
  width: $size__max;
  margin: 3rem auto !important;
}

.full:not(.float) {
  position: relative;
  right: 50%;
  left: 50%;
  width: $size__full;
  margin: 3rem -50vw !important;
}
