---
layout: default
---

<article class="post h-entry" role="content" itemscope itemtype="http://schema.org/BlogPosting">
  {% include page-header-background-img.html image_url=page.image %}

  {% include page-header.html %}

 <div class="row">
   <div class="page-highlights__col" style="font-family: Georgia;font-size: 22px;font-weight: normal;font-style: italic;line-height: 1.64"> Amet porttitor eget dolor morbi non arcu. Gravida quis blandit turpis cursus in hac habitasse platea dictumst. Urna nec tincidunt praesent semper feugiat. Photo Credit: Omic/Anadolu Agency/Getty Images
    </div>
  </div>
</div>
  <section class="post__header">
    <div class="post__header-meta">
      {% if page.collection == 'posts' %}
        <p class="post__excerpt">{{ page.excerpt | remove: '
        <p>' | remove: '</p>' }}</p>
      {% endif %}
      Themes List
    </div>
    {%- include from-commission.html -%}
  </section>
  <section class="post__content e-content" itemprop="articleBody">
    {% if page.collection == 'posts' and page.image.size > 0 %}
    <figure class="post__feature-image post__content-overflow">
      {% include cloudinary-responsive-img.html path=page.image title=page.image_caption alt=page.image_caption %}
      {%- include img-caption.html desc=page.image_caption source=page.image_credit -%}
    </figure>
    {% endif %}
    {{ content }}
    <strong>Note:</strong> Look at footnotes formatting
  </section>
  <footer class="post__footer" role="footer">
    <div class="post__tags">Tags Include</div>
    <div class="share">Social Share Include</div>
    {% include post-references.html %}
    <div class="post__authors-full">Authors Block</div>
    <div class="post__related-posts">Related Posts</div>
  </footer>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
