---
layout: default
---
<article class="page h-entry" role="content" itemscope itemtype="http://schema.org/about">

  {% include page-header.html %}
  <section class="post__content">
    {% if page.name == 'about.md' and page.image.size > 0 %}
    <figure class="post__feature-image post__content-overflow">
      {% include cloudinary-responsive-img.html path=page.post_image title=page.image_caption alt=page.image_caption %}
      {%- include img-caption.html desc=page.image_caption source=page.image_credit -%}
    </figure>
    {% endif %}

    <h2 class="section-title-lg">{{ page.title }}</h2>
    {{ content }}

    <aside class="aside-container">
      <h3 class="aside-container__subtitle">{{ site.data.language.about_the_commission.meet_commission }}</h3>
      <a href="{% link members.md %}" class="aside-container__title">
        {{ site.data.language.about_the_commission.members_contributors }}
      </a>
      {% include about-table-contents.html %}
    </aside>
    <p>
      {{ page.credits }}
    </p>
    <p>
      {{ page.funder_acknowledgements }}
    </p>
  </section>
</article>
