---
layout: default
---
{% assign algolia_facet_value = page.algolia_facet_value %}
{% if page.collection == 'authors' %}
  {% assign algolia_facet_value = page.title | escape %}
{% endif %}
{% if page.algolia_facet and algolia_facet_value %}
  {%- assign data_facet = page.algolia_facet | prepend: 'data-facet="' | append: '"' -%}
  {%- assign data_facet_value = algolia_facet_value | prepend: 'data-facet-value="' | append: '"' -%}
{% endif %}
<article class="archive archive--{{ page.title | slugify }}" role="content" itemscope itemtype="http://schema.org/BlogPosting" {{ data_facet }} {{ data_facet_value }}>

  {% include page-header.html %}
  <section class="archive__header">
    {% if page.excerpt %}
    <div class="post__header-meta">
      <p class="post__excerpt">{{ page.excerpt | remove: '
        <p>' | remove: '</p>' }}</p>
    </div>
    {% endif %}
    {% include search-input.html %}
    <div id="stats-container" class="pagination__stats"></div>
    {% include search-filter.html %}
  </section>
  {% if page.use_algolia %}{% assign section_id = 'id="hits"' %}{% endif %}
  <section {{ section_id }} class="archive__content e-content" itemprop="articleBody">

    {% if page.post_list_collection == 'all' %}
    {% assign posts = site.posts | concat: site.events %}
    {% else %}
    {% assign posts = site[page.post_list_collection] %}
    {% endif %}
    {%- for post in posts -%}
      {% include post-block.html %}
    {%- endfor -%}
  </section>

  <footer class="archive__footer" role="footer">
    <div id="pagination" class="pagination__pagination"></div>
  </footer>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
