<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content" role="content">
      {% assign wrapper_class = 'wrapper' %}
      {% if page.layout == 'home' %}{% assign wrapper_class = 'wrapper-full' %}{% endif %}
      <div class="{{ wrapper_class }}">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
