---
layout: default
---

<div class="home">
  <section class="home__title">
    Site Title<br />
    SVG
  </section>
  <section class="home__desc">
    {{ content }}
  </section>
  <section class="home__commission-img">
    Commission Img
  </section>
  <section class="home__commission-desc">
    Commission Desc
  </section>
  <section class="home__featured-primary">
    Primary Featured Image
  </section>
  <section class="home__recent-developments">
    Recent Developments<br />
    Series List
  </section>
  <section class="home__featured-secondary">
    Secondary Featured Posts
  </section>
  <section class="home__most-recent">
    Latest posts
  </section>
  <section class="home__themes">
    Guiding Themes
  </section>
  <section class="home__themes-img">
    Themes Image
  </section>
</div>
