---
layout: default
---

<div class="home">
  <section class="home__hero">
    {%- include home-animated-map.html -%}
    <div class="home__hero-subtitle">{{ site.data.language.home.subtitle | escape }}</div>
    <div class="home__hero-title">{{ site.data.language.home.title | escape }}</div>
  </section>
  <section class="home__desc">
    {{ content }}
  </section>
  <section class="home__commission-img"></section>
  <section class="home__commission-desc">
    <p>{{ page.commission_desc }}</p>
    <a href="/members" class="btn btn--dark-gray" aria-label="site.data.language.home.commission_btn_aria_label">{{ site.data.language.home.commission_btn | escape }}</a>
  </section>
  {% include home-featured-primary.html %}
  <section class="home__events-series">
    {% include home-featured-events.html %}
  </section>
  {% include home-featured-secondary.html %}
  {% include home-recent-posts.html %}
  <section class="home__articles-btn">
    <a href="/articles/" class="btn btn--dark-gray" aria-label="site.data.language.home.articles_btn_aria_label">{{ site.data.language.home.articles_btn | escape }}</a>
  </section>
  {% include home-themes.html %}
  <section class="home__themes-img"></section>
</div>
