---
layout: default
---
<article class="post h-entry" role="content" itemscope itemtype="http://schema.org/BlogPosting">

  {% include page-header.html %}
  <section class="post__header">
    <div class="post__header-meta">
      {% if page.collection == 'posts' %}
        <p class="post__excerpt">{{ page.excerpt | remove: '
        <p>' | remove: '</p>' }}</p>
      {% endif %}
      {%- include img-caption.html tag='p' desc=site.data.language.photo_credit source=page.image_credit -%}
      Themes List
    </div>
    <div class="from-the-commission">
      From the Commission (Replace entire div with include)
    </div>
  </section>
  <section class="post__content e-content" itemprop="articleBody">
    <strong>Note:</strong> Look at footnotes formatting
    {{ content }}
  </section>
  <footer class="post__footer" role="footer">
    Tags<br />
    Social Share<br />
    References<br />
    Authors Block<br />
    Related Posts
  </footer>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
