---
layout: default
---
<article class="post h-entry" role="content" itemscope itemtype="http://schema.org/BlogPosting">

  {% include page-header.html %}
  <section class="post__header">
    <div class="post__header-meta">
      {% if page.collection == 'posts' %}
        <p class="post__excerpt">{{ page.excerpt | remove: '
        <p>' | remove: '</p>' }}</p>
      {% endif %}

      {% if page.image.size == 0 and page.collection == 'events' %}
        {% assign events = site.pages | where: "name",'events.md' | first %}
        {%- include img-caption.html tag='p' desc=site.data.language.photo_credit source=events.image_credit -%}
      {% else %}
        {% assign header_image_credit = page.image_credit %}

        {% if page.collection == 'posts' and page.themes.size > 0 %}
          {% assign primary_theme = site.themes | where: 'relative_path', page.themes[0] | first %}
          {% if primary_theme.image.size > 0 %}
              {% assign header_image_credit = primary_theme.image_credit %}
          {% endif %}
        {% endif %}
        {%- include img-caption.html tag='p' desc=site.data.language.photo_credit source=header_image_credit -%}
      {% endif %}

      {%- include themes-list.html -%}
    </div>
    {%- include from-commission.html -%}
  </section>
  <section class="post__content e-content" itemprop="articleBody">
    {% if page.collection == 'posts' and page.image.size > 0 %}
    {% include cloudinary-responsive-img.html path=page.image title=page.image_caption alt=page.image_credit classes="post__feature-image post__content-overflow" %}
    {% endif %}
    {{ content }}
  </section>
  <footer class="post__footer" role="footer">
    {% include tag-list.html %}
    {% include social-share-icons.html %}
    {% include post-references.html %}
    {% include authors-block.html %}
  </footer>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
