---
layout: default
---
<article class="post h-entry" role="content" itemscope itemtype="http://schema.org/BlogPosting">

  {% include page-header.html %}
  <section class="post__header">
    <div class="post__header-meta">
      {% if page.collection == 'posts' %}
        <p class="post__excerpt">{{ page.excerpt | remove: '
        <p>' | remove: '</p>' }}</p>
      {% endif %}

      {% if page.image.size == 0 and page.collection == 'events' %}
        {% assign events = site.pages | where: "name",'events.md' | first %}
        {%- include img-caption.html tag='p' desc=site.data.language.photo_credit source=events.image_credit -%}
      {% else %}
        {%- include img-caption.html tag='p' desc=site.data.language.photo_credit source=page.image_credit -%}
      {% endif %}

      {%- include themes-list.html -%}
    </div>
    {%- include from-commission.html -%}
  </section>
  <section class="post__content e-content" itemprop="articleBody">
    {% if page.collection == 'posts' and page.image.size > 0 %}
    <figure class="post__feature-image post__content-overflow">
      {% include cloudinary-responsive-img.html path=page.image title=page.image_caption alt=page.image_caption %}
      {%- include img-caption.html desc=page.image_caption source=page.image_credit -%}
    </figure>
    {% endif %}
    {{ content }}
  </section>
  <footer class="post__footer" role="footer">
    {% include tag-list.html %}
    {% include social-share-icons.html %}
    {% include post-references.html %}
    <div class="post__authors-full">{% include authors-block.html %}</div>
  </footer>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
